body {
  background-color: rgb(230, 184, 191);
  width: 100vw;
  height: 100vh;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 300px;
  height: 600px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 40px -4px rgba(206, 99, 115, 0.4);
  position: relative;
}

header {
  text-align: center;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  background-color: rgb(238, 130, 171);
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

main {
  height: 450px;
}

input {
  width: 300px;
  height: 30px;
  text-align: center;
}

footer {
  height: 50px;
  background-color: rgb(238, 130, 171);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 300px;
}

.add-bar i {
  background-color: white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin: 0%;
}

ul {
  list-style: none;
  margin: 20px 15px;
  padding: 0%;
}

li {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 0%;
  margin-bottom: 10px;
  position: relative;
}

.removeItemButton {
  position: absolute;
  right: 0px;
}
button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li::before,
li::after {
  content: "";
  position: absolute;
  display: inline-block;
}

li::before {
  z-index: -1;
}

li::after {
  transform: translateX(-51%);
  z-index: -3;
}
